$navbar-height: 75px;
$footer-height: 79px;

$font-text: monospace;

$border-radius-box: 10px;

// Dark theme
$bg-100-dark: #000000;
$bg-75-dark: #0f0f0f;
$bg-50-dark: #272727;
$bg-25-dark: #585858;

$text-100-dark: #1c2025;
$text-75-dark: #46525d;
$text-50-dark: #E1E1E1;

$line-100-dark: #101214;
$line-75-dark: #2d353b;
$line-50-dark: #a5a5a5;

$negative-dark: 255, 255, 255;
$accent-dark: 117, 166, 60;

// Light theme
$bg-100-light: #f7f7f7;
$bg-75-light: #e2e2e2;
$bg-50-light: #cfcfcf;
$bg-25-light: #909090;

$text-100-light: #E1E1E1;
$text-75-light: #404040;
$text-50-light: #141414;

$line-100-light: #bfbfbf;
$line-75-light: #9f9f9f;
$line-50-light: #6f6f6f;

$negative-light: 0, 0, 0;
$accent-light: 117, 166, 60;