* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: $font-text;
    transition: color .3s linear, background .3s linear;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    position: relative;
    padding-bottom: $footer-height;
    min-height: 100vh;
    background-color: $bg-75;
}

.container {
    display: block;
    max-width: 1300px;
    margin: 0 auto;
    width: 95%;
    padding: 0;
    position: relative;
}