$svg-icons: (
    dark--mode: '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve"><defs> </defs> <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" > <path d="M 46.715 90 c -3.908 0 -7.841 -0.514 -11.717 -1.552 C 23.391 85.337 13.69 77.893 7.682 67.487 C 1.674 57.08 0.077 44.957 3.188 33.349 c 3.11 -11.607 10.554 -21.308 20.961 -27.316 c 8.601 -4.967 18.349 -6.923 28.193 -5.659 c 1.257 0.162 2.277 1.095 2.548 2.332 c 0.271 1.238 -0.265 2.512 -1.338 3.185 c -13.943 8.735 -18.418 26.742 -10.188 40.996 l 0 0 C 51.592 61.14 69.426 66.268 83.96 58.56 c 1.117 -0.596 2.491 -0.421 3.426 0.434 c 0.936 0.854 1.235 2.204 0.746 3.373 c -3.826 9.156 -10.395 16.621 -18.997 21.586 C 62.204 87.955 54.509 90 46.715 90 z M 43.74 6.101 c -5.805 0.421 -11.436 2.15 -16.592 5.127 c -9.019 5.207 -15.47 13.614 -18.166 23.674 C 6.287 44.961 7.67 55.469 12.877 64.488 c 5.207 9.019 13.614 15.471 23.673 18.165 c 10.058 2.697 20.567 1.311 29.585 -3.895 c 5.156 -2.977 9.47 -6.989 12.737 -11.806 c -15.547 4.094 -32.303 -2.515 -40.705 -17.066 l 0 0 C 29.768 35.336 32.427 17.518 43.74 6.101 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /> </g> </svg>',
    light--mode: '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve"><defs> </defs> <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" > <path d="M 45 68 c -12.682 0 -23 -10.317 -23 -23 c 0 -12.682 10.318 -23 23 -23 c 12.683 0 23 10.318 23 23 C 68 57.683 57.683 68 45 68 z M 45 28 c -9.374 0 -17 7.626 -17 17 s 7.626 17 17 17 s 17 -7.626 17 -17 S 54.374 28 45 28 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /> <rect x="42" y="0" rx="0" ry="0" width="6" height="15.79" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " /> <rect x="42" y="74.21" rx="0" ry="0" width="6" height="15.79" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " /> <rect x="0" y="42" rx="0" ry="0" width="15.79" height="6" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " /> <rect x="74.21" y="42" rx="0" ry="0" width="15.79" height="6" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " /> <rect x="63.34" y="15.76" rx="0" ry="0" width="15.79" height="6" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(0.7071 -0.7071 0.7071 0.7071 7.5969 55.8674) " /> <rect x="10.87" y="68.24" rx="0" ry="0" width="15.79" height="6" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(0.7071 -0.7071 0.7071 0.7071 -44.876 34.1324) " /> <rect x="15.76" y="10.87" rx="0" ry="0" width="6" height="15.79" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(0.7071 -0.7071 0.7071 0.7071 -7.7721 18.7634) " /> <rect x="68.24" y="63.34" rx="0" ry="0" width="6" height="15.79" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(0.7071 -0.7071 0.7071 0.7071 -29.5071 71.2363) " /> </g> </svg>',
    facebook:'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 23" fill="none"><path d="M1.70001 11.5C1.70001 16.9123 6.08762 21.2999 11.5 21.2999C16.9124 21.2999 21.3 16.9123 21.3 11.5C21.3 6.08756 16.9124 1.69995 11.5 1.69995C6.08762 1.69995 1.70001 6.08756 1.70001 11.5Z" fill="#DFF5FC"/><path d="M11.5 21.2999C6.08762 21.2999 1.70001 16.9123 1.70001 11.5C1.70001 6.08756 6.08762 1.69995 11.5 1.69995C16.9124 1.69995 21.3 6.08756 21.3 11.5C21.3 16.9123 16.9124 21.2999 11.5 21.2999ZM11.5 21.2999V10.1C11.5 8.55355 12.7536 7.29995 14.3 7.29995H15M8.00001 12.9H15" stroke="#1C1C1C" stroke-width="1.5"/></svg>',
    linkedin:'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 21" fill="none"><path d="M2.00492 7.75965H5.52098V18.3406H2.00492V7.75965ZM3.78648 2.65918C2.58309 2.65918 1.79688 3.44922 1.79688 4.48617C1.79688 5.5018 2.56008 6.31481 3.74047 6.31481H3.76289C4.9893 6.31481 5.75305 5.50176 5.75305 4.48617C5.73004 3.44922 4.98934 2.65918 3.78648 2.65918ZM14.1539 7.51109C12.2875 7.51109 11.4514 8.53766 10.9849 9.25758V7.75965H7.46781C7.51437 8.75227 7.46781 18.3406 7.46781 18.3406H10.9849V12.4314C10.9849 12.115 11.0079 11.7996 11.1005 11.5729C11.3551 10.9411 11.9338 10.2869 12.9045 10.2869C14.178 10.2869 14.6866 11.2576 14.6866 12.6794V18.3405H18.2031V12.2732C18.2031 9.02328 16.4687 7.51109 14.1539 7.51109Z" fill="#DFF5FC"/></svg>',
    x:'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 15" fill="none"><path d="M8.22234 6.51787L13.0004 1.08325H11.8683L7.71764 5.80107L4.40497 1.08325H0.583313L5.59385 8.21806L0.583313 13.9166H1.7154L6.09586 8.93325L9.59499 13.9166H13.4166L8.22234 6.51787ZM6.67128 8.28069L6.16284 7.56978L2.12366 1.91836H3.86277L7.12347 6.48093L7.62978 7.19184L11.8677 13.1222H10.1286L6.67128 8.28069Z" fill="#DFF5FC"/></svg>',
    instagram:'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 19" fill="none"><path d="M13.6 1.1001H6.39998C3.74901 1.1001 1.59998 3.24913 1.59998 5.9001V13.1001C1.59998 15.7511 3.74901 17.9001 6.39997 17.9001H13.6C16.2509 17.9001 18.4 15.7511 18.4 13.1001V5.9001C18.4 3.24913 16.2509 1.1001 13.6 1.1001Z" fill="#DFF5FC"/><path d="M6.39998 9.5001C6.39998 11.4883 8.01175 13.1001 9.99998 13.1001C11.9882 13.1001 13.6 11.4883 13.6 9.5001C13.6 7.51187 11.9882 5.9001 9.99998 5.9001C8.01175 5.9001 6.39998 7.51187 6.39998 9.5001Z" fill="#DFF5FC"/><path d="M14.2 4.7001H15.4M6.39998 1.1001H13.6C16.2509 1.1001 18.4 3.24913 18.4 5.9001V13.1001C18.4 15.7511 16.2509 17.9001 13.6 17.9001H6.39997C3.74901 17.9001 1.59998 15.7511 1.59998 13.1001V5.9001C1.59998 3.24913 3.74901 1.1001 6.39998 1.1001ZM9.99998 13.1001C8.01175 13.1001 6.39998 11.4883 6.39998 9.5001C6.39998 7.51187 8.01175 5.9001 9.99998 5.9001C11.9882 5.9001 13.6 7.51187 13.6 9.5001C13.6 11.4883 11.9882 13.1001 9.99998 13.1001Z" stroke="#1C1C1C" stroke-width="1.5"/></svg>',
    youtube:'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 19" fill="none"><path d="M17.475 5.97451C17.475 5.82451 17.25 4.62451 16.725 4.09951C16.05 3.34951 15.3 3.27451 14.925 3.27451H14.85C12.525 3.12451 9.075 3.12451 9 3.12451C9 3.12451 5.475 3.12451 3.15 3.27451H3.075C2.7 3.27451 1.95 3.34951 1.275 4.09951C0.75 4.69951 0.525 5.89951 0.525 6.04951C0.525 6.12451 0.375 7.47451 0.375 8.89951V10.1745C0.375 11.5995 0.525 12.9495 0.525 13.0245C0.525 13.1745 0.75 14.3745 1.275 14.8995C1.875 15.5745 2.625 15.6495 3.075 15.7245C3.15 15.7245 3.225 15.7245 3.3 15.7245C4.65 15.8745 8.775 15.8745 8.925 15.8745C8.925 15.8745 12.45 15.8745 14.775 15.7245H14.85C15.225 15.6495 15.975 15.5745 16.65 14.8995C17.175 14.2995 17.4 13.0995 17.4 12.9495C17.4 12.8745 17.55 11.5245 17.55 10.0995V8.82451C17.625 7.47451 17.475 6.04951 17.475 5.97451ZM11.925 9.64951L7.425 12.0495C7.35 12.0495 7.35 12.1245 7.275 12.1245C7.2 12.1245 7.125 12.1245 7.125 12.0495C7.05 11.9745 6.975 11.8995 6.975 11.7495V6.87451C6.975 6.72451 7.05 6.64951 7.125 6.57451C7.2 6.49951 7.35 6.49951 7.5 6.57451L12 8.97451C12.15 9.04951 12.225 9.12451 12.225 9.27451C12.225 9.42451 12.075 9.57451 11.925 9.64951Z" fill="#DFF5FC"/></svg>',
    arrow--left:'<svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.2773 9.01025L1.00384 9.01025" stroke="#42005A"/><path d="M9.00391 17L1.00391 9L9.00391 1" stroke="#42005A"/></svg>',
    arrow--right:'<svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.724609 8.98975H15.9981" stroke="#42005A"/><path d="M7.99805 1L15.998 9L7.99805 17" stroke="#42005A"/></svg>',
);

/**
* Characters to escape from SVGs
* Source: https://github.com/Threespot/frontline-sass/blob/master/src/variables/_escape-chars.scss
*/
$fs-escape-chars: (
    " ": "%20",
    "'": "%22",
    '"': "%27",
    "#": "%23",
    "/": "%2F",
    ":": "%3A",
    "(": "%28",
    ")": "%29",
    "%": "%25",
    "<": "%3C",
    ">": "%3E",
    "\\":"%5C",
    "^": "%5E",
    "{": "%7B",
    "|": "%7C",
    "}": "%7D",
);

/**
 * Helper to get URL-escaped inline SVG code
 */
@function svg($name) {

    // Check if icon exists
    @if not map-has-key($svg-icons, $name) {
        @error 'icon “#{$name}” does not exists in $svg-icons map';
        @return false;
    }

    // Get icon data
    $icon-map: map-get($svg-icons, $name);

    $escaped-string: "";
    $unquote-icon: unquote($icon-map);

    // Loop through each character in string
    @for $i from 1 through str-length($unquote-icon) {
        $char: str-slice($unquote-icon, $i, $i);

        // Check if character is in symbol map
        $char-lookup: map-get($fs-escape-chars, $char);

        // If it is, use escaped version
        @if $char-lookup !=null {
            $char: $char-lookup;
        }

        // Append character to escaped string
        $escaped-string: $escaped-string + $char;
    }

    // Return inline SVG data
    @return url("data:image/svg+xml, #{$escaped-string} ");
}

:root {
    @each $name, $code in $svg-icons {
        --svg-#{$name}: #{svg($name)};
    }
}

.icon-dark--mode {
    @include mask-icon($url: var(--svg-dark--mode));
}

.icon-light--mode {
    @include mask-icon($url: var(--svg-light--mode));
}

.icon-arrow--left {
    @include mask-icon($url: var(--svg-arrow--left));
}

.icon-arrow--right {
    @include mask-icon($url: var(--svg-arrow--right));
}

.icon-linkedin {
    @include mask-icon($url: var(--svg-linkedin));
}

.icon-x {
    @include mask-icon($url: var(--svg-x));
}

.icon-youtube {
    @include mask-icon($url: var(--svg-youtube));
}

.icon-instagram {
    @include mask-icon($url: var(--svg-instagram));
}

.icon-facebook {
    @include mask-icon($url: var(--svg-facebook));
}