<footer class="footer">
    <div class="container">
        <p class="footer-text">Project made by <a href="https://www.linkedin.com/in/albertogonzalezmartinez" target="_blank">Alberto Gonzalez Martinez</a>, using Astro.</p> 
    </div>  
</footer>